.vscode/settings.json
variants.json
playground.mongodb
__pycache__/app.cpython-38.pyc
__pycache__/db_app.cpython-38.pyc
__pycache__/app.cpython-38.pyc
__pycache__/app.cpython-38.pyc
__pycache__/app.cpython-38.pyc
__pycache__/app.cpython-38.pyc
