<!DOCTYPE HTML>

{% extends 'base.html' %}

{% block body_block %}


<div style="padding: 100px;">
    <table id="variant_table" class="table display">
        <thead>
            <th>Name</th>
            <th>Mappings</th>
            <th>MAF</th>
            <th>Ambiguity</th>
            <th>Class</th>
            <th>Synonyms</th>
            <th>Evidence</th>
            <th>Ancestral_allele</th>
            <th>Minor_allele</th>
            <th>Consequence</th>
        </thead>
        <tbody>
            {% for var in variants %}
            <tr>
                <td>{{var.name}}</td>
                <td>{{var.mappings}}</td>
                <td>{{var.MAF}}</td>
                <td>{{var.ambiguity}}</td>
                <td>{{var.var_class}}</td>
                <td>{{var.synonyms}}</td>
                <td>{{var.evidence}}</td>
                <td>{{var.ancestral_allele}}</td>
                <td>{{var.minor_allele}}</td>
                <td>{{var.most_severe_consequence}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#variant_table').DataTable()});
</script>
{% endblock scripts %}
